/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Star color */
.aquaColor {
    color: aqua;
}

/* Light mode colors */
.navLinkColorLight {
    color: #E693FD;
}
.navLightGradient {
    background-image: linear-gradient(#36006B, #7304e2);
}
.footerLightGradient {
    background-image: linear-gradient(#7304e2, #36006B);
}
.whiteToPurple {
    background-image: linear-gradient(white, #7304e2 );
}
.purpleToWhite {
    background-image: linear-gradient(#7304e2, white);
}
.whiteToBlue {
    background-image: linear-gradient(white, #6a57FF );
}
.blueToWhite {
    background-image: linear-gradient(#6a57FF, white);
}

/* Dark Mode Colors */
.navLinkColorDark {
    color: #6A57FF
}
.whiteText {
    color: white;
}
.blueToDarkBlue {
    background-image: linear-gradient(#100566, #05002E );
}
.darkBlueToBlue {
    background-image: linear-gradient(#05002E, #100566 );
}
.navDarkGradient {
    background-image: linear-gradient(#05002E, #100566);
}

.darkBlueToBlue {
    background-image: linear-gradient(#05002E, #1f0f9a );
}

@media all and (min-width: 320px) {
/* Navbar stuff */
.stick {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}
.navbar {
    width: 100vw;
    height: 80px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.headerLinks {
    margin-top: 5px;
    margin-right: 5px;
    text-shadow: 0px 0px 30px #6A57FF;
    font-family: 'Lora', serif;
    text-decoration: none;
    font-size: 25px;
    -webkit-text-stroke: 1px #1F09CC;
}
.headerLinks:hover {
    text-shadow: 0px 0px 5px #6A57FF;
}

/* Header */
.headerBackground {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 30vh;
}

.darkModeButton {
    position: absolute;
    top: 80px;
    left: 85vw;
    height: 40px;
    width: 45px;
    z-index: 1;
}
.lightModeButton {
    position: absolute;
    top: 80px;
    left: 85vw;
    height: 40px;
    z-index: 1;
}

.starContainer {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 150px;
}
.nameAndProfession {
    position: relative;
    color: #4F3DDB;
    -webkit-text-stroke: 1px #400156;
    height: 150px;
}
.nameH1 {
    font-size: 18px;
    display: block;
    text-shadow: 0px 0px 50px #8000FF;
}
.nameH1P1 {
    position: absolute;
    top: 53px;
    left: 33%;
    
}
.nameH1P2 {
    position: absolute;
    top: 70px;
    left: 27.5%;
    
}
.professionH1 {
    font-size: 17px;
    position: absolute;
    top: 55px;
    left: 28%;
}

.statusColors {
    color: #8600B6;
    -webkit-text-stroke: 1px #400156;
    text-shadow: 0px 0px 50px #8000FF;
}
.statusContainer {
    position: relative;
    height: 100px;
}
.statusLabel {
    position: absolute;
    top: 50px;
    left: 33%;
    font-size: 18px;
}
.statusContent {
    position: absolute;
    top: 70px;
    left: 27%;
    font-size: 9.5px;
}

/* Body */
.bodyBackground {
    height: auto;
}

p.aboutMe, h1.aboutMe, h2.aboutMe {
    font-family: 'Lora', serif;
    color: black;
    font-size: 10px;
}

h3.softAbout {
    margin-top: 15px;
}

.seperationMargin {
    margin-bottom: 100px;
}

.common {
    width: 95vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    border: #6a57FF solid 1px;
    box-shadow: 0 0 30px #EE00FF;
}

.aboutMe {
    position: relative;
    height: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "Picture ."
    "AP intro"
    ". HA"
    "Social SA";
    font-size: 11px;
}

.pictureOfMe {
    margin: 15px 0 5px 25vw;
    height: 150px;
    width: 150px;
    background-color: white;
    grid-area: Picture;
}
.positivesAutism {
    margin: 25px 0 5px 15px;
    height: 100px;
    width: 50px;
    grid-area: AP;
}
.positivesAutismClicked {
    position: absolute;
    height: 400px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.darkenedClick {
    height: 1800px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}

.introduction {
    grid-area: intro;
    margin: 15px 0 0 25px;
}
.softAbout {
    grid-area: SA;
    margin: 15px 0 0 25px;
}
.skillsSoftAbout {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "HTML Mysql"
    "CSS PHP"
    "JS Java"
    "cSharp .";
}
.skillsSoftCommon {
    margin-top: 10px;
    margin-right: 10px;
}
.htmlSoftAbout {
    grid-area: HTML;
}
.cssSoftAbout {
    grid-area: CSS;
}
.jsSoftAbout {
    grid-area: JS;
}
.mysqlSoftAbout {
    grid-area: Mysql;
}
.phpSoftAbout {
    grid-area: PHP;
}
.javaSoftAbout {
    grid-area: Java;
}
.cSharpSoftAbout {
    grid-area: cSharp;
}

.hobbyAbout {
    grid-area: HA;
    margin: 15px 0 0 25px;
}
.social {
    grid-area: Social;
    margin: 0 0 5px 25px;
}
.CV {
    grid-area: CV;
    
}

.toolsSkills {
    height: 400px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "CL"
    "OT";
}
.toolsSkillsCommon {
    font-size: 50px;
    margin-right: 10px;
}
.codeLanguages {
    grid-area: CL;
    margin: 5% 0 0 15px;
}
.otherTools {
    grid-area: OT;
    margin: 2.5% 0 0 15px;
}

.projects {
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.projectsCommon {
    height: 125px;
    width: 125px;
    margin: 5% 0 0 0;
}
.projectLinks {
    text-decoration: none;
    color: black;
}

.Yahtzee {
    background-color: orange;
}
.yatH1 {
    margin: 5px 0 5px 24%;
    font-size: 20px;
}
.yatH3 {
    margin: 5px 10% 5px 10%;
    font-size: 20px;
}
.diceContainer {
    margin-top: 5%;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.diceCommon {
    margin-right: 10px;
    margin-top: 5px;
    width: 25px;
    height: 25px;
}

.coinGame {
    background-color: green;
}
.coinContainer {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.coin {
    width: 20px;
}
.coinH1 {
    margin: 5px 0 5px 12%;
    font-size: 20px;
}
.coinH3 {
    margin: 5px 0 5px 20%;
    font-size: 18px;
}

.Startracker {
    background-color: darkblue;
}
.starsContainer {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.stars {
    width: 35px;
}
.starH1 {
    margin: 5px 0 5px 12%;
    font-size: 20px;
}
.starH3 {
    margin: 5px 0 5px 18%;
    font-size: 18px;
}

.contactBox {
    height: 750px;
}   
.contactH1 {
    margin: 25px 0 20px 25%;
    transform: translate(0%, -50%);
}
.contactH3 {
    margin-left: 18%;
    transform: translate(0%, -50%);
}

.formHolder {
    width: 80%;
    margin: 10px auto 10px auto;
}

.textFieldCommon {
    margin-top: 10px;
}

/* Footer */

.footer {
    position: relative;
    background-color: gray;
    width: 100vw;
    height: 50px;
}

.footerText {
    position: absolute;
    top: 5px;
    left: 50px;
}
}
@media all and (min-width: 768px) {

    /* Navbar stuff */
.navbar {
    width: 100vw;
    height: 100px;
}
.headerLinks {
    margin-top: 25px;
    font-size: 35px;
}

/* Header */
.headerBackground {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 50vh;
}

.darkModeButton {
    top: 110px;
    left: 86vw;
    height: 90px;
    width: 95px;
}
.lightModeButton {
    top: 110px;
    left: 86vw;
    height: 90px;
}

.starContainer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 300px;
}
.nameAndProfession {
    height: 300px;
}
.nameH1 {
    font-size: 35px;
}
.nameH1P1 {
    top: 110px;
    left: 33%;
}
.nameH1P2 {
    top: 150px;
    left: 28%;
}
.professionH1 {
    font-size: 25px;
    top: 120px;
    left: 17%;
}

.statusContainer {
    height: 300px;
}
.statusLabel {
    top: 110px;
    left: 35%;
    font-size: 30px;
}
.statusContent {
    font-size: 18px;
    top: 150px;
    left: 28%;
}

/* Body */
.bodyBackground {
    height: auto;
}

p.aboutMe, h1.aboutMe, h2.aboutMe {
    font-size: 20px;
}

h3.softAbout {
    margin-top: 15px;
}

.aboutMe {
    position: relative;
    height: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 150px auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "Picture intro intro"
    "AP HA HA"
    "Social SA SA";
    font-size: 14px;
}

.pictureOfMe {
    margin: 55px 0 5px 15px;
    height: 150px;
    width: 150px;
    grid-area: Picture;
}
.positivesAutism {
    margin: 25px 0 5px 15px;
    height: 200px;
    width: 150px;
    grid-area: AP;
}
.positivesAutismClicked {
    position: absolute;
    height: 850px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.darkenedClick {
    height: 1400px;
    width: 95vw;
}

.introduction {
    grid-area: intro;
    margin: 15px 0 0 25px;
}
.softAbout {
    grid-area: SA;
    margin: 15px 0 0 25px;
}
.skillsSoftAbout {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "HTML Mysql"
    "CSS PHP"
    "JS Java"
    "cSharp .";
}
.skillsSoftCommon {
    margin-top: 10px;
}
.htmlSoftAbout {
    grid-area: HTML;
    margin-right: 10px;
}
.cssSoftAbout {
    grid-area: CSS;
    margin-right: 10px;
}
.jsSoftAbout {
    grid-area: JS;
    margin-right: 10px;
}
.mysqlSoftAbout {
    grid-area: Mysql;
}
.phpSoftAbout {
    grid-area: PHP;
}
.javaSoftAbout {
    grid-area: Java;
}
.cSharpSoftAbout {
    grid-area: cSharp;
}

.hobbyAbout {
    grid-area: HA;
    margin: 15px 0 0 25px;
}
.social {
    grid-area: Social;
    margin: 0 0 5px 25px;
}

.toolsSkills {
    height: 400px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "CL"
    "OT";
}
.toolsSkillsCommon {
    font-size: 50px;
    margin-right: 10px;
}
.codeLanguages {
    grid-area: CL;
    margin: 5% 0 0 15px;
}
.otherTools {
    grid-area: OT;
    margin: 2.5% 0 0 15px;
}

.projects {
    margin-top: 0;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.projectsCommon {
    height: 200px;
    width: 200px;
    margin: 5% 0 0 0;
}

.yatH1 {
    margin: 5px 0 5px 22.5%;
    font-size: 30px;
}
.yatH3 {
    margin: 5px 20% 5px 20%;
    font-size: 25px;
}
.diceContainer {
    margin-left: 0;
    margin-top: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.diceCommon {
    margin-top: 5px;
    margin-left: 5px;
    width: 40px;
    height: 40px;
}

.coinContainer {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.coin {
    width: 50px;
}
.coinH1 {
    margin: 5px 0 5px 11%;
    font-size: 30px;
}
.coinH3 {
    margin: 5px 0 5px 8%;
    font-size: 20px;
}

.starsContainer {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.stars {
    width: 50px;
}
.starH1 {
    margin: 5px 0 5px 11%;
    font-size: 30px;
}
.starH3 {
    margin: 5px 0 5px 10%;
    font-size: 20px;
}

.contactBox {
    height: 750px;
}   
.contactH1 {
    margin: 15px 0 0 40%;
}
.contactH3 {
    margin-left: 15%;
}

/* Footer */

.footer {
    width: 100vw;
    height: 50px;
}

.footerText {
    top: 5px;
    left: 50px;
}
}
@media all and (min-width: 1024px) {

    /* Navbar stuff */
.navbar {
    width: 100vw;
    height: 120px;
}
.headerLinks {
    margin-top: 30px;
    font-size: 40px;
}

/* Header */
.headerBackground {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 80vh;
}

.darkModeButton {
    top: 130px;
    left: 87vw;
    height: 100px;
    width: 105px;
}
.lightModeButton {
    top: 130px;
    left: 87vw;
    height: 100px;
}

.starContainer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 400px;
}
.nameAndProfession {
    height: 400px;
}
.nameH1 {
    font-size: 45px;
}
.nameH1P1 {
    top: 150px;
    left: 34%;
}
.nameH1P2 {
    top: 190px;
    left: 29%; 
}
.professionH1 {
    font-size: 45px;
    top: 150px;
    left: 28%;
}

.statusContainer {
    height: 400px;
}
.statusLabel {
    font-size: 40px;
    top: 140px;
    left: 36%;   
}
.statusContent {
    font-size: 25px;
    top: 190px;
    left: 28%;   
}

/* Body */
.bodyBackground {
    height: auto;
}

.softAboutH1MarginTop {
    margin-top: 30px;
}
h3.softAbout {
    margin-top: 15px;
}

.aboutMe {
    position: relative;
    height: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 200px auto auto;
    grid-template-rows: 200px auto auto 50px;
    grid-template-areas: 
    "Picture intro HA"
    "AP SA SA"
    "CV SA SA"
    "Social SA SA";
    font-size: 13.5px;
}

.pictureOfMe {
    margin: 15px 0 5px 15px;
    height: 200px;
    width: 200px;
    grid-area: Picture;
}
.positivesAutism {
    margin: 25px 0 5px 15px;
    height: 250px;
    width: 200px;
    grid-area: AP;
}
.positivesAutismClicked {
    position: absolute;
    height: 650px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.darkenedClick {
    height: 1000px;
    width: 95vw;
}

.introduction {
    grid-area: intro;
    margin: 15px 0 0 25px;
}
.softAbout {
    grid-area: SA;
    margin: 15px 0 0 25px;
}
.softAboutH1MarginTop {
    margin-top: 60px;
    font-size: 1.7em;
}
.skillsSoftAbout {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "HTML Mysql"
    "CSS PHP"
    "JS Java"
    "cSharp .";
}
.skillsSoftCommon {
    margin-top: 10px;
}
.htmlSoftAbout {
    grid-area: HTML;
}
.cssSoftAbout {
    grid-area: CSS;
}
.jsSoftAbout {
    grid-area: JS;
}
.mysqlSoftAbout {
    grid-area: Mysql;
}
.phpSoftAbout {
    grid-area: PHP;
}
.javaSoftAbout {
    grid-area: Java;
}
.cSharpSoftAbout {
    grid-area: cSharp;
}

.hobbyAbout {
    grid-area: HA;
    margin: 15px 10px 0 25px;
}
.social {
    grid-area: Social;
    margin: 0 0 5px 25px;
}

.toolsSkills {
    height: 400px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "CL"
    "OT";
}
.toolsSkillsCommon {
    font-size: 50px;
    margin-right: 10px;
}
.codeLanguages {
    grid-area: CL;
    margin: 5% 0 0 15px;
}
.otherTools {
    grid-area: OT;
    margin: 2.5% 0 0 15px;
}

.projects {
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.projectsCommon {
    height: 200px;
    width: 200px;
    margin: 5% 0 0 0;
}

.yatH1 {
    margin: 5px 0 5px 24%;
}
.yatH3 {
    margin: 5px 20% 5px 20%;
}
.diceContainer {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.diceCommon {
    margin-top: 10px;
    width: 40px;
    height: 40px;
}

.coinContainer {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.coin {
    width: 50px;
}
.coinH1 {
    margin: 5px 0 5px 13%;
}
.coinH3 {
    margin: 5px 0 5px 8%;
}

.starsContainer {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.stars {
    width: 50px;
}
.starH1 {
    margin: 5px 0 5px 12%;
}
.starH3 {
    margin: 5px 0 5px 11%;
}

.contactBox {
    height: 750px;
}   
.contactH1 {
    margin: 25px 0 0 40%;
}
.contactH3 {
    margin-left: 25%;
}

/* Footer */

.footer {
    width: 100vw;
    height: 50px;
}

.footerText {
    top: 5px;
    left: 50px;
}
}
@media all and (min-width: 1440px) {

    /* Navbar stuff */
.navbar {
    width: 100vw;
    height: 120px;
}
.headerLinks {
    margin-top: 25px;
    font-size: 50px;
}

/* Header */
.headerBackground {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 80vh;
}

.darkModeButton {
    top: 125px;
    left: 90vw;
    height: 100px;
    width: 105px;
}
.lightModeButton {
    top: 125px;
    left: 90vw;
    height: 100px;
}

.starContainer { 
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 500px;
}
.nameAndProfession {
    height: 500px;
}
.nameH1 {
    font-size: 60px;
}
.nameH1P1 {
    top: 170px;
    left: 33%;
}
.nameH1P2 {
    top: 240px;
    left: 28%; 
}
.professionH1 {
    font-size: 60px;
    top: 170px;
    left: 28%;
}

.statusContainer {
    
    position: relative;
    height: 500px;
}
.statusLabel {
    top: 170px;
    left: 35%;   
    font-size: 50px; 
}
.statusContent {
    top: 230px;
    left: 28%;   
    font-size: 35px; 
}

/* Body */
.bodyBackground {
    height: auto;
}

h3.softAbout {
    margin-top: 15px;
}

.aboutMe {
    position: relative;
    height: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 250px auto auto;
    grid-template-rows: 300px auto auto 50px;
    grid-template-areas: 
    "Picture intro HA"
    "AP SA SA"
    "CV SA SA"
    "Social SA SA";
    font-size: 20px;
}

.pictureOfMe {
    margin: 15px 0 5px 15px;
    height: 250px;
    width: 250px;
    grid-area: Picture;
}
.positivesAutism {
    margin: 25px 0 5px 15px;
    height: 300px;
    width: 250px;
    grid-area: AP;
}
.positivesAutismClicked {
    position: absolute;
    height: 850px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.darkenedClick {
    height: 1200px;
    width: 95vw;
}

.introduction {
    grid-area: intro;
    margin: 15px 0 0 25px;
}
.softAbout {
    grid-area: SA;
    margin: 15px 0 0 25px;
}
.softAboutH1MarginTop {
    margin-top: 60px;
    font-size: 1.7em;
}
.skillsSoftAbout {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "HTML Mysql"
    "CSS PHP"
    "JS Java"
    "cSharp .";
}
.skillsSoftCommon {
    margin-top: 10px;
}
.htmlSoftAbout {
    grid-area: HTML;
}
.cssSoftAbout {
    grid-area: CSS;
}
.jsSoftAbout {
    grid-area: JS;
}
.mysqlSoftAbout {
    grid-area: Mysql;
}
.phpSoftAbout {
    grid-area: PHP;
}
.javaSoftAbout {
    grid-area: Java;
}
.cSharpSoftAbout {
    grid-area: cSharp;
}

.hobbyAbout {
    grid-area: HA;
    margin: 15px 10px 0 25px;
}
.social {
    grid-area: Social;
    margin: 0 0 5px 25px;
}

.toolsSkills {
    height: 400px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "CL"
    "OT";
}
.toolsSkillsCommon {
    font-size: 50px;
    margin-right: 10px;
}
.codeLanguages {
    grid-area: CL;
    margin: 5% 0 0 15px;
}
.otherTools {
    grid-area: OT;
    margin: 2.5% 0 0 15px;
}

.projects {
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.projectsCommon {
    height: 300px;
    width: 300px;
    margin: 3% 0 0 0;
}

.yatH1 {
    margin: 5px 0 5px 26%;
    font-size: 40px;
}
.yatH3 {
    margin: 5px 0 5px 25%;
    font-size: 30px;
}
.diceContainer {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.diceCommon {
    width: 70px;
    height: 70px;
}

.coinContainer {
    margin-top: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.coin {
    width: 75px;
}
.coinH1 {
    margin: 5px 0 5px 17%;
    font-size: 40px;
}
.coinH3 {
    margin: 5px 0 5px 8%;
    font-size: 30px;
}

.starsContainer {
    margin-top: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.stars {
    width: 75px;
}
.starH1 {
    margin: 5px 0 5px 16%;
    font-size: 40px;
}
.starH3 {
    margin: 5px 0 5px 11%;
    font-size: 30px;
}

.contactBox {
    height: 750px;
}   
.contactH1 {
    margin: 25px 0 0 44%;
    font-size: 40px;
}
.contactH3 {
    margin-left: 20%;
    font-size: 30px;
}

/* Footer */

.footer {
    width: 100vw;
    height: 50px;
}

.footerText {
    top: 5px;
    left: 50px;
}
}
@media all and (min-width: 1680px) {

    /* Navbar stuff */
    .navbar {
        width: 100vw;
        height: 120px;
    }
    .headerLinks {
        margin-top: 25px;
        font-size: 60px;
    }
    
    /* Header */
    .headerBackground {
        display: flex;
        justify-content: space-evenly;
        width: 100vw;
        height: 70vh;
    }
    
    .darkModeButton {
        top: 125px;
        left: 88vw;
        height: 150px;
        width: 155px;
    }
    .lightModeButton {
        top: 125px;
        left: 88vw;
        height: 150px;
    }
    
    .starContainer { 
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        height: 600px;
    }
    .nameAndProfession {
        height: 600px;
    }
    .nameH1 {
        font-size: 70px;
    }
    .nameH1P1 {
        top: 210px;
        left: 33%;
    }
    .nameH1P2 {
        top: 290px;
        left: 28%; 
    }
    .professionH1 {
        font-size: 70px;
        top: 210px;
        left: 28%;
    }
    
    .statusContainer {
        
        position: relative;
        height: 600px;
    }
    .statusLabel {
        top: 210px;
        left: 35%;   
        font-size: 60px; 
    }
    .statusContent {
        top: 270px;
        left: 27%;   
        font-size: 45px; 
    }
    
    /* Body */
    .bodyBackground {
        height: auto;
    }
    
    h3.softAbout {
        margin-top: 15px;
    }
    
    .aboutMe {
        position: relative;
        height: auto;
        padding: 10px;
        display: grid;
        grid-template-columns: 250px auto auto;
        grid-template-rows: 250px auto auto 50px;
        grid-gap: 15px;
        grid-template-areas: 
        "Picture intro HA"
        "AP SA SA"
        "CV SA SA"
        "Social SA SA";
        font-size: 22px;
    }
    
    .pictureOfMe {
        margin: 15px 0 5px 15px;
        height: 250px;
        width: 250px;
        grid-area: Picture;
    }
    .positivesAutism {
        margin: 25px 0 5px 15px;
        height: 300px;
        width: 250px;
        grid-area: AP;
    }
    .positivesAutismClicked {
        position: absolute;
        height: 1000px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .darkenedClick {
        height: 1300px;
        width: 95vw;
    }
    
    .introduction {
        grid-area: intro;
        margin: 15px 0 0 25px;
    }
    .softAbout {
        grid-area: SA;
        margin: 15px 0 0 25px;
    }
    .softAboutH1MarginTop {
        margin-top: 140px;
        font-size: 1.7em;
    }
    .skillsSoftAbout {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        "HTML Mysql"
        "CSS PHP"
        "JS Java"
        "cSharp .";
    }
    .skillsSoftCommon {
        margin-top: 10px;
    }
    .htmlSoftAbout {
        grid-area: HTML;
    }
    .cssSoftAbout {
        grid-area: CSS;
    }
    .jsSoftAbout {
        grid-area: JS;
    }
    .mysqlSoftAbout {
        grid-area: Mysql;
    }
    .phpSoftAbout {
        grid-area: PHP;
    }
    .javaSoftAbout {
        grid-area: Java;
    }
    .cSharpSoftAbout {
        grid-area: cSharp;
    }
    
    .hobbyAbout {
        grid-area: HA;
        margin: 15px 0 0 25px;
    }
    .social {
        grid-area: Social;
        margin: 0 0 5px 25px;
    }
    
    .toolsSkills {
        height: 400px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 50% 50%;
        grid-template-areas: 
        "CL"
        "OT";
    }
    .toolsSkillsCommon {
        font-size: 75px;
        margin-right: 10px;
    }
    .codeLanguages {
        grid-area: CL;
        margin: 5% 0 0 15px;
    }
    .otherTools {
        grid-area: OT;
        margin: 2.5% 0 0 15px;
    }
    
    .projects {
        height: 400px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .projectsCommon {
        height: 300px;
        width: 300px;
        margin: 3% 0 0 0;
    }
    
    .yatH1 {
        margin: 5px 0 5px 26%;
        font-size: 40px;
    }
    .yatH3 {
        margin: 5px 0 5px 25%;
        font-size: 30px;
    }
    .diceContainer {
        margin-top: 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .diceCommon { 
        width: 80px;
        height: 80px;
    }
    
    .coinContainer {
        margin-top: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .coin {
        width: 75px;
    }
    .coinH1 {
        margin: 5px 0 5px 17%;
        font-size: 40px;
    }
    .coinH3 {
        margin: 5px 0 5px 8%;
        font-size: 30px;
    }
    
    .starsContainer {
        margin-top: 15%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .stars {
        width: 75px;
    }
    .starH1 {
        margin: 5px 0 5px 16%;
        font-size: 40px;
    }
    .starH3 {
        margin: 5px 0 5px 11%;
        font-size: 30px;
    }
    
    .contactBox {
        height: 750px;
    }   
    .contactH1 {
        margin: 25px 0 0 44%;
        font-size: 40px;
    }
    .contactH3 {
        margin-left: 20%;
        font-size: 30px;
    }
    
    /* Footer */
    
    .footer {
        width: 100vw;
        height: 50px;
    }
    
    .footerText {
        top: 5px;
        left: 50px;
    }
    }
/* Footer */

.footer {
    width: 100vw;
    height: 50px;
}

.footerText {
    top: 5px;
    left: 50px;
}

@media all and (min-width: 1920px) {

   /* Navbar stuff */
   .navbar {
    width: 100vw;
    height: 150px;
}
.headerLinks {
    margin-top: 25px;
    font-size: 70px;
}

/* Header */
.headerBackground {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 70vh;
}

.darkModeButton {
    top: 155px;
    left: 88vw;
    height: 175px;
    width: 170px;
}
.lightModeButton {
    top: 155px;
    left: 88vw;
    height: 175px;
}

.starContainer { 
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 600px;
}
.nameAndProfession {
    height: 600px;
}
.nameH1 {
    font-size: 70px;
}
.nameH1P1 {
    top: 210px;
    left: 33%;
}
.nameH1P2 {
    top: 300px;
    left: 28%; 
}
.professionH1 {
    font-size: 70px;
    top: 220px;
    left: 27%;
}

.statusContainer {
    
    position: relative;
    height: 600px;
}
.statusLabel {
    top: 210px;
    left: 35%;   
    font-size: 60px; 
}
.statusContent {
    top: 280px;
    left: 28%;   
    font-size: 40px; 
}

/* Body */
.bodyBackground {
    height: auto;
}

h3.softAbout {
    margin-top: 15px;
}

.aboutMe {
    position: relative;
    height: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 250px auto auto;
    grid-template-rows: 250px auto auto 50px;
    grid-gap: 15px;
    grid-template-areas: 
    "Picture intro HA"
    "AP SA SA"
    "CV SA SA"
    "Social SA SA";
    font-size: 25px;
}

.pictureOfMe {
    margin: 15px 0 5px 15px;
    height: 250px;
    width: 250px;
    grid-area: Picture;
}
.positivesAutism {
    margin: 25px 0 5px 15px;
    height: 300px;
    width: 250px;
    grid-area: AP;
}
.positivesAutismClicked {
    position: absolute;
    height: 1200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.darkenedClick {
    height: 1500px;
    width: 95vw;
}

.introduction {
    grid-area: intro;
    margin: 15px 0 0 25px;
}
.softAbout {
    grid-area: SA;
    margin: 65px 0 0 25px;
}
.softAboutH1MarginTop {
    font-size: 1.7em;
}
.skillsSoftAbout {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "HTML Mysql"
    "CSS PHP"
    "JS Java"
    "cSharp .";
}
.skillsSoftCommon {
    margin-top: 10px;
}
.htmlSoftAbout {
    grid-area: HTML;
}
.cssSoftAbout {
    grid-area: CSS;
}
.jsSoftAbout {
    grid-area: JS;
}
.mysqlSoftAbout {
    grid-area: Mysql;
}
.phpSoftAbout {
    grid-area: PHP;
}
.javaSoftAbout {
    grid-area: Java;
}
.cSharpSoftAbout {
    grid-area: cSharp;
}

.hobbyAbout {
    grid-area: HA;
    margin: 15px 0 0 25px;
}
.social {
    grid-area: Social;
    margin: 0 0 5px 25px;
}

.toolsSkills {
    height: 400px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "CL"
    "OT";
}
.toolsSkillsCommon {
    font-size: 85px;
    margin-right: 10px;
}
.codeLanguages {
    grid-area: CL;
    margin: 2% 0 0 15px;
}
.otherTools {
    grid-area: OT;
    margin: 1% 0 0 15px;
}

.projects {
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.projectsCommon {
    height: 300px;
    width: 300px;
    margin: 3% 0 0 0;
}

.yatH1 {
    margin: 5px 0 5px 26%;
    font-size: 40px;
}
.yatH3 {
    margin: 5px 0 5px 25%;
    font-size: 30px;
}
.diceContainer {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.diceCommon {
    width: 80px;
    height: 80px;
}

.coinContainer {
    margin-top: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.coin {
    width: 75px;
}
.coinH1 {
    margin: 5px 0 5px 17%;
    font-size: 40px;
}
.coinH3 {
    margin: 5px 0 5px 8%;
    font-size: 30px;
}

.starsContainer {
    margin-top: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.stars {
    width: 75px;
}
.starH1 {
    margin: 5px 0 5px 16%;
    font-size: 40px;
}
.starH3 {
    margin: 5px 0 5px 11%;
    font-size: 30px;
}

.contactBox {
    height: 750px;
}   
.contactH1 {
    margin: 25px 0 0 44%;
    font-size: 40px;
}
.contactH3 {
    margin-left: 20%;
    font-size: 30px;
}

/* Footer */

.footer {
    width: 100vw;
    height: 100px;
}

.footerText {
    top: 20px;
    left: 50px;
    font-size: 60px;
}
}
