/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Star color */
.aquaColor {
    color: aqua;
}

/* Light mode colors */
.navLinkColorLight {
    color: #E693FD;
}
.navLightGradient {
    background-image: linear-gradient(#36006B, #7304e2);
}
.footerLightGradient {
    background-image: linear-gradient(#7304e2, #36006B);
}
.whiteToPurple {
    background-image: linear-gradient(white, #7304e2 );
}
.purpleToWhite {
    background-image: linear-gradient(#7304e2, white);
}
.whiteToBlue {
    background-image: linear-gradient(white, #6a57FF );
}
.blueToWhite {
    background-image: linear-gradient(#6a57FF, white);
}

/* Dark Mode Colors */
.navLinkColorDark {
    color: #6A57FF
}
.whiteText {
    color: white;
}
.blueToDarkBlue {
    background-image: linear-gradient(#100566, #05002E );
}
.darkBlueToBlue {
    background-image: linear-gradient(#05002E, #100566 );
}
.navDarkGradient {
    background-image: linear-gradient(#05002E, #100566);
}

.darkBlueToBlue {
    background-image: linear-gradient(#05002E, #1f0f9a );
}

@media all and (min-width: 320px) {
/* Navbar stuff */
.stick {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}
.navbar {
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.headerLinks {
    margin-top: 5px;
    margin-right: 5px;
    text-shadow: 0px 0px 30px #6A57FF;
    font-family: 'Lora', serif;
    text-decoration: none;
    font-size: 25px;
    -webkit-text-stroke: 1px #1F09CC;
}
.headerLinks:hover {
    text-shadow: 0px 0px 5px #6A57FF;
}

/* Header */
.headerBackground {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 300px;
}

.styleButtonContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1;
}

.darkModeButton {
    height: 50px;
}
.lightModeButton {
    height: 50px;
}

.starContainer{
    width: 150px;
    height: 250px;
    background-color: #e1c0eb;
    border: 3px solid #6000fa;
    margin-top: 25px;
}
.darkStarContainer { 
    width: 150px;
    height: 250px;
    background-color: #05002E;
    border: 3px solid #6000fa;
    margin-top: 25px;
}
.nameAndProfession, .statusContainer {
    position: relative;
    color: #4F3DDB;
    -webkit-text-stroke: 1px #400156;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 150px;
}
.nameH1, .statusH1 {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 0px 0px 25px #8000FF;
    width: 150px;
    margin-bottom: 15px;
}

.status {
    width: 100px;
    text-align: center;
}

/* Body */
.bodyBackground {
    height: auto;
}

p.aboutMe, h1.aboutMe, h2.aboutMe {
    font-family: 'Lora', serif;
    color: black;
    font-size: 10px;
}

h3.softAbout {
    margin-top: 15px;
}

.seperationMargin {
    margin-bottom: 100px;
}

.common {
    width: 95vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    border: #6a57FF solid 1px;
    box-shadow: 0 0 30px #EE00FF;
}

.aboutMe {
    position: relative;
    height: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
    "Picture"
    "intro"
    "HA"
    "SA"
    "Social";
    font-size: 18px;
}

.pictureOfMe {
    justify-self: center;
    height: 150px;
    width: 150px;
    grid-area: Picture;
}
.introduction {
    grid-area: intro;
    margin: 15px 0 0 25px;
}
.softAbout {
    grid-area: SA;
    margin: 15px 0 0 25px;
}
.skillsSoftAbout {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "HTML Mysql"
    "CSS PHP"
    "JS Java"
    "cSharp .";
}
.skillsSoftCommon {
    margin-top: 10px;
    margin-right: 10px;
}
.htmlSoftAbout {
    grid-area: HTML;
}
.cssSoftAbout {
    grid-area: CSS;
}
.jsSoftAbout {
    grid-area: JS;
}
.mysqlSoftAbout {
    grid-area: Mysql;
}
.phpSoftAbout {
    grid-area: PHP;
}
.javaSoftAbout {
    grid-area: Java;
}
.cSharpSoftAbout {
    grid-area: cSharp;
}

.hobbyAbout {
    grid-area: HA;
    margin: 15px 0 0 25px;
}
.social {
    grid-area: Social;
    margin: 0 0 5px 25px;
}
.CV {
    grid-area: CV;
    
}

.toolsSkills {
    height: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "CL"
    "OT";
    row-gap: 30px;
    padding-bottom: 5%;
}
.toolsSkillsCommon {
    font-size: 75px;
    margin-right: 10px;
}
.codeLanguages {
    grid-area: CL;
    margin: 2.5% 0 0 15px;
}
.otherTools {
    grid-area: OT;
    margin: 2.5% 0 0 15px;
}

.projects {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.projectsCommon {
    height: 125px;
    width: 125px;
    margin: 5% 2% 5% 2%;
}
.projectLinks {
    text-decoration: none;
    color: black;
    text-align: center;
}

.Yahtzee {
    background-color: orange;
}
.yatH1 {
    margin: 0;
    font-size: 20px;
}
.yatH3 {
    margin: 0;
    font-size: 20px;
}
.diceContainer {
    margin-top: 5%;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.diceCommon {
    margin-right: 10px;
    margin-top: 5px;
    width: 25px;
    height: 25px;
}

.coinGame {
    background-color: green;
}
.coinContainer {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.coin {
    width: 20px;
}
.coinH1 {
    margin: 0;
    font-size: 20px;
}
.coinH3 {
    margin: 0;
    font-size: 18px;
}

.Startracker {
    background-color: darkblue;
}
.starsContainer {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.stars {
    width: 35px;
}
.starH1 {
    margin: 0;
    font-size: 20px;
}
.starH3 {
    margin: 0;
    font-size: 18px;
}

.contactBox {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
}   
.contactH1 {
    width: 80%;
    text-align: center;
}
.contactH3 {
    width: 80%;
    text-align: center;
}

.formHolder {
    width: 80%;
    margin: 10px auto 10px auto;
}

.textFieldCommon {
    margin-top: 10px;
}

/* Footer */

.footer {
    position: relative;
    background-color: gray;
    width: 100%;
    height: 50px;
}

.footerText {
    position: absolute;
    top: 5px;
    left: 50px;
}
}

@media all and (min-width: 768px) { 
      /* Navbar stuff */
    .navbar {
        width: 100%;
        height: 100px;
    }
    .headerLinks {
        margin-top: 25px;
        font-size: 30px;
    }     
    /* Header */
    .headerBackground {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 400px;
        margin-bottom: 0px;
    }

    .darkModeButton {
        height: 60px;
    }
    .lightModeButton {
        height: 60px;
    }
    .starContainer{
        background-image: url(../images/starContainer.png);
        background-repeat: no-repeat;
        background-size: 350px 350px;
        background-color: transparent;
        border: none;
        height: inherit;
        width: inherit;
        margin-top: 0;
    }
    .darkStarContainer { 
        background-image: url(../images/darkStarContainer.png);
        background-repeat: no-repeat;
        background-size: 350px 350px;
        background-color: transparent;
        border: none;
        height: inherit;
        width: inherit;
        margin-top: 0;
    }

    .nameAndProfession, .statusContainer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        width: 350px;
    }
    .nameH1, .statusH1 {
        font-size: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        width: 350px;
        margin-bottom: 40px;
    }
    
    .status {
        width: 150px;
        text-align: center;
    }

    .aboutMe {
        position: relative;
        height: auto;
        padding: 10px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        "Picture"
        "intro"
        "HA"
        "SA"
        "Social";
        font-size: 18px;
    }

    .projectLinks {
        text-align: center;
    }
    .projectsCommon {
        height: 200px;
        width: 200px;
        margin: 5% 2% 5% 2%;
    }
    .yatH1 {
        margin: 0;
        font-size: 25px;
    }
    .yatH3 {
        margin: 0;
        font-size: 20px;
    }
    .diceContainer {
        margin-top: 5%;
        margin-left: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .diceCommon {
        margin-right: 10px;
        margin-top: 5px;
        width: 45px;
        height: 45px;
    }
    
    .coinContainer {
        margin-top: 15%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .coin {
        width: 40px;
    }
    .coinH1 {
        margin: 0;
        font-size: 25px;
    }
    .coinH3 {
        margin: 0;
        font-size: 20px;
    }
    .starsContainer {
        margin-top: 15%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .stars {
        width: 50px;
    }
    .starH1 {
        margin: 0;
        font-size: 25px;
    }
    .starH3 {
        margin: 0;
        font-size: 20px;
    }
}

@media all and (min-width: 1440px) {
      /* Navbar stuff */
      .navbar {
        width: 100%;
        height: 150px;
    }
    .headerLinks {
        margin-top: 25px;
        font-size: 70px;
    }  

/* Header */
.headerBackground {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 700px;
}

.darkModeButton {
    height: 175px;
}
.lightModeButton {
    height: 175px;
}
.starContainer{
    background-size: 600px 600px;
}
.darkStarContainer { 
    background-size: 600px 600px;
}
.nameAndProfession, .statusContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 600px;
}
.nameH1, .statusH1 {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 600px;
    margin-bottom: 50px;
}

.status {
    width: 300px;
    text-align: center;
}

/* Body */
.bodyBackground {
    height: auto;
}

h3.softAbout {
    margin-top: 15px;
}

.aboutMe {
    position: relative;
    height: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 250px auto auto;
    grid-template-rows: 450px auto auto 50px;
    grid-gap: 15px;
    grid-template-areas: 
    "Picture intro HA"
    ". . ."
    "CV SA SA"
    "Social SA SA";
    font-size: 20px;
}

.pictureOfMe {
    margin: 15px 0 5px 15px;
    height: 250px;
    width: 250px;
    grid-area: Picture;
}

.introduction {
    grid-area: intro;
    margin: 15px 0 5px 15px;
}
.softAbout {
    grid-area: SA;
    margin: 15px 0 5px 15px;
}
.softAboutH1MarginTop {
    font-size: 1.7em;
}
.skillsSoftAbout {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "HTML Mysql"
    "CSS PHP"
    "JS Java"
    "cSharp .";
}
.skillsSoftCommon {
    margin-top: 10px;
}
.htmlSoftAbout {
    grid-area: HTML;
}
.cssSoftAbout {
    grid-area: CSS;
}
.jsSoftAbout {
    grid-area: JS;
}
.mysqlSoftAbout {
    grid-area: Mysql;
}
.phpSoftAbout {
    grid-area: PHP;
}
.javaSoftAbout {
    grid-area: Java;
}
.cSharpSoftAbout {
    grid-area: cSharp;
}

.hobbyAbout {
    grid-area: HA;
    margin: 15px 0 0 25px;
}
.social {
    grid-area: Social;
    margin: 0 0 5px 25px;
}

.toolsSkills {
    height: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "CL"
    "OT";
}
.toolsSkillsCommon {
    font-size: 85px;
    margin-right: 10px;
}
.codeLanguages {
    grid-area: CL;
    margin: 2% 0 0 15px;
}
.otherTools {
    grid-area: OT;
    margin: 1% 0 2% 15px;
}

.projects {
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.projectsCommon {
    height: 300px;
    width: 300px;
    margin: 3% 0 0 0;
}

.yatH1 {
    margin: 0;
    font-size: 40px;
}
.yatH3 {
    margin: 0;
    font-size: 30px;
}
.diceContainer {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.diceCommon {
    width: 80px;
    height: 80px;
}

.coinContainer {
    margin-top: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.coin {
    width: 75px;
}
.coinH1 {
    margin: 0;
    font-size: 40px;
}
.coinH3 {
    margin: 0;
    font-size: 30px;
}

.starsContainer {
    margin-top: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.stars {
    width: 75px;
}
.starH1 {
    margin: 0;
    font-size: 40px;
}
.starH3 {
    margin: 0;
    font-size: 30px;
}
 
.contactH1 {
    margin: 0;
    font-size: 40px;
}
.contactH3 {
    margin-left: 0;
    font-size: 30px;
}

.formHolder {
    width: 90%;
    margin: 10px auto 10px auto;
}

/* Footer */

.footer {
    width: 100%;
    height: 100px;
}

.footerText {
    top: 20px;
    left: 50px;
    font-size: 60px;
}
}

@media all and (min-width: 1720px) {
    .aboutMe {
        position: relative;
        height: auto;
        padding: 10px;
        display: grid;
        grid-template-columns: 250px auto auto;
        grid-template-rows: 250px auto auto 50px;
        grid-gap: 15px;
        grid-template-areas: 
        "Picture intro HA"
        ". . ."
        "CV SA SA"
        "Social SA SA";
        font-size: 20px;
    }
}